.social_icon_inner i {
    background: #eeff62;
    border-radius: 50px;
    padding: 13px;
    margin: 11px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    color: #4559ff;
}
.profile_img img {
    border-radius: 207px;
    border: 14px solid #000000;
    height: 380px;
}
body {
    background: deepskyblue !important;
}
